Source: lime-tools
Section: comm
Priority: optional
Maintainer: Duncan Thomas <duncan.thomas@gmail.com>
Build-depends:
    debhelper (>= 9.0.0),
    cmake (>= 3.1.3),
    libfftw3-dev (>= 3.3.8-2),
    gnu-plot (>= 5.2.6+dfsg1-1),
    liblimesuite-dev (>= 19.04.0-1)
Standards-Version: 4.1.1
Vcs-Git: https://github.com/myriadrf/lime-tools
Vcs-Browser: https://github.com/myriadrf/lime-tools

Package: lime-tools
Section: comm
Architecture: any
Depends:
    limesuite (>= 19.04.0-1)
Description: Lime Tools - simple LimeSDR tools
 LimeMon - Min, max, rms power sweep measurements vs. frequency and time in .csv, .xls and .gif format.
 LimeScan - Power spectrum tool that aims to be compatible with rtl_power and soapy_power.


